body {
  width: 100%;
  height: 100vh;
  padding: 16px;
  box-sizing: border-box;
}

div#container {
  display: flex;
  flex-flow: row nowrap;
}

div#editor-container {
  width: 50%;
  background-color: #cdb4db;
  border: 1px solid;
  border-radius: 5px;
  padding: 16px;
  flex-grow: 1;
}

textarea#editor {
  height: calc(100% - 50px);
  width: 100%;
  background-color: #cdb4db;
  overflow: auto;
  border: none;
  border-radius: 5px;
}

div#preview {
  flex-grow: 1;
  margin: 0 16px;
  padding: 16px;
  border: 1px solid;
  border-radius: 5px;
  background-color: #ffc8dd;
}

td,
th {
  border: 1px solid white;
  padding: 8px;
}

h1#welcome-to-my-react-markdown-previewer {
  padding-bottom: 5px;
  border-bottom: 3px solid;
}

h2#this-is-a-sub-heading {
  padding-bottom: 5px;
  border-bottom: 2px solid;
}

pre {
  background-color: white;
}
